"*":
  "exception-reporting":
    userId: "5ebd7b2b-c88a-092e-bcf0-d1a6ad4e0531"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    invisibles: {}
    softWrap: true
    tabLength: 4
    tabType: "soft"
    softWrapAtPreferredLineLength: true
    fontSize: 12
  "tabs-to-spaces":
    onSave: "untabify"
