"*":
  Zen: {}
  "atom-material-ui":
    fonts: {}
  "autocomplete-plus": {}
  core:
    customFileTypes:
      "source.cpp": [
        "h"
      ]
    disabledPackages: [
      "markdown-preview"
    ]
    themes: [
      "atom-material-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "f66e1044-d904-5c31-3ec2-1cb9fec28b42"
  "file-header":
    autoAddingHeaderEnabled: false
    email: "chirag.raman@gmail.com"
    license: "Copyright (C) 2016 Multicomp Lab. All rights reserved."
    realname: "Chirag Raman"
    username: "chiragraman"
  linter:
    showErrorPanel: false
  "linter-jshint": {}
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "save-session":
    dataSaveFolder: "/Users/chiragraman/.dotfiles/atom.symlink/packages/save-session/projects"
  "tool-bar":
    position: "Left"
  welcome:
    showOnStartup: false
